.logo{
	width:120px;
	height:120px;
	background:url(../images/lafite2.png);
}
.text{text-align:center;}
.header{
	width:1200px;
	height:320px;
	background:url(../images/background-coll.png);
}
.background-logo{
	width:320px;
	height:171px;
	background:url(../images/Legende-Blc.png);
}
.header p{
	font:30px "Playfair Display";
	color:white;
}
.legende{
	width:1200px;
	height:650px;
	background-color:#2b2b2b;
}
.legende p{
	font:50px "Gabriola";
	text-align:center;
	line-height:80px;
	color:#b89d63;
}
hr{width:1000px;color:#b89d63;}
.rouge{
	width:300px;
	height:500px;
	background-color:#9d9d9d;
}
.legende ul li{
	display:inline-block;
}
.rouge p{
	font:30px "Gabriola";
	color:white;
}
.rouge-demo-span{
	font:17px "Gabriola";
	color:white;
	text-align:center;
}
.rouge-demo{
	position:absolute;
	top:79.5%;
	left:14.5%;
	width:300px;
	height:500px;
	background-color:rgba(184,158,99,0.8);
}
.rouge-demo{display:none;}
.rouge:hover .rouge-demo{display:block;}
.Blanc-demo{
	position:absolute;
	top:79.5%;
	left:39.2%;
	width:300px;
	height:500px;
	background-color:rgba(184,158,99,0.8);
}
.Blanc-demo{display:none;}
.rouge:hover .Blanc-demo{display:block;}
.medoc-demo{
	position:absolute;
	top:79.5%;
	left:63.9%;
	width:300px;
	height:500px;
	background-color:rgba(184,158,99,0.8);
}
.medoc-demo{display:none;}
.rouge:hover .medoc-demo{display:block;}
.background-saga{
	width:1200px;
	height:320px;
	background:url(../images/back-saga.png);
}
.saga-logo{
	width:320px;
	height:160px;
	background:url(../images/Saga.png);
}
.background-saga p{
	font:30px "Playfair Display";
	color:white;
}
.saga{
	width:300px;
	height:500px;
	background-color:#9d9d9d;
}
.saga p{
	font:30px "Gabriola";
	color:white;
}
.saga-demo-span{
	font:17px "Gabriola";
	color:white;
	text-align:center;
}
.saga-demo{
	position:absolute;
	top:233.5%;
	left:14.5%;
	width:300px;
	height:500px;
	background-color:rgba(184,158,99,0.8);
}
.saga-demo{display:none;}
.saga:hover .saga-demo{display:block;}
.saga1-demo{
	position:absolute;
	top:233.5%;
	left:39.2%;
	width:300px;
	height:500px;
	background-color:rgba(184,158,99,0.8);
}
.saga1-demo{display:none;}
.saga:hover .saga1-demo{display:block;}
.saga2-demo{
	position:absolute;
	top:233.5%;
	left:63.9%;
	width:300px;
	height:500px;
	background-color:rgba(184,158,99,0.8);
}
.saga2-demo{display:none;}
.saga:hover .saga2-demo{display:block;}
.background-reserve{
	width:1200px;
	height:320px;
	background:url(../images/reserve.png);
}
.reserve-logo{
	width:320px;
	height:175px;
	background:url(../images/Reserve-s.png);
}
.background-reserve p{
	font:30px "Playfair Display";
	color:white;
}
.reserve{
	width:300px;
	height:500px;
	background-color:#9d9d9d;
}
.legende ul li{
	display:inline-block;
}
.reserve p{
	font:30px "Gabriola";
	color:white;
}
.reserve-demo-span{
	font:17px "Gabriola";
	color:white;
	text-align:center;
}
.reserve-demo{
	position:absolute;
	top:387%;
	left:14.5%;
	width:300px;
	height:500px;
	background-color:rgba(184,158,99,0.8);
}
.reserve-demo{display:none;}
.reserve:hover .reserve-demo{display:block;}
.reserve1-demo{
	position:absolute;
	top:387%;
	left:39.2%;
	width:300px;
	height:500px;
	background-color:rgba(184,158,99,0.8);
}
.reserve1-demo{display:none;}
.reserve:hover .reserve1-demo{display:block;}
.reserve2-demo{
	position:absolute;
	top:387%;
	left:63.9%;
	width:300px;
	height:500px;
	background-color:rgba(184,158,99,0.8);
}
.reserve2-demo{display:none;}
.reserve:hover .reserve2-demo{display:block;}
