.mg0{margin:0 auto;}
.fl{float:left;}
.text{text-transform:uppercase;}
a{text-decoration:none;color:black;}
a:hover{color:white;}
.content{
	width:1200px;
	height:600px;
	background:url(../images/bg.png);
}
.main{
	position:relative;
	height:100%;
	width:100%;
	background-color:rgba(255,255,255,0.4);
}
.logo{
	position:relative;
	top:190px;
	left:200px;
	width:202px;
	height:207px;
	background:url(../images/lafite.png);
}
.box{
	position:relative;
	top:60px;
	left:230px;
	width:29%;
}
.box ul{
	margin-top:30px;
	border-left:2px solid black;
	font-size:27px;
	font-family:"Batang";
}
.box-lafite{
	width:500px;
	word-spacing:3px;
	margin-left:15px;
}
.box-lafite ul{
	display:none;
}
.box-Chateaux{
	padding-top:50px;
	word-spacing:3px;
	margin-left:15px;
	width:500px;
}
.box-Chateaux ul{
	display:none;
}
.box-Domaines{
	padding-top:50px;
	word-spacing:3px;
	margin-left:15px;
	width:500px;
}
.box-Domaines ul{
	display:none;
}
.box-Collection{
	padding-top:50px;
	word-spacing:3px;
	margin-left:15px;
	width:500px;
}
.box-Collection ul{
	display:none;
}
.box-Spirit{
	padding-top:50px;
	word-spacing:3px;
	margin-left:15px;
	width:500px;
}
.box-Spirit ul{
	display:none;
}
.container-Lafite{
	position:absolute;
	top:-40px;
	left:370px;
	width:300px;	
}
.container-Chateaux{
	position:absolute;
	top:86px;
	left:370px;
	width:300px;
}
.container-Domaines{
	position:absolute;
	top:173px;
	left:370px;
	width:300px;
}
.container-Collection{
	position:absolute;
	top:260px;
	left:370px;
	width:300px;
}
.container-Spirit{
	position:absolute;
	top:326px;
	left:370px;
	width:300px;
}
.box ul li ul{
	border-left:3px solid black;
}
.box ul li ul li{
	font-size:19px;
	margin-top:17px;
	margin-left:20px;
}
.box ul li:hover ul{
	display:block;	
}
.foot{
	width:1200px;
	height:150px;
}
.foot-p{
	text-align:center;
	font:12px "Batang";
	line-height:40px;
}
.foot-span{
	padding-top:15px;
	text-align:center;
	font:11px "Batang";
	line-height:15px;
	color:#a3a4aa;
}